<widget-header titulo = 'ESTATÍSTICAS'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		  			<li role="presentation"><a href="/#/vistoria">Vistoria</a></li>
		  			<li role="presentation"><a href="/#/resultado">Resultados</a></li>
                    <li role="presentation"  class="active"><a href="">Estatisticas</a></li>
                    <li role="presentation"><a href="/#/busca">Fiscalizado</a></li>
                    <li ng-click="vm.logoff()"><a href="/#/" class="logoff">logoff</a></li>
                    <li role="presentation"><a href="" class="usuario">{{vm.user}}</a></li>
                    <li role="presentation"><a href="" class="usuario">{{vm.ordem}}</a></li>
		  		</ul>
  			</div>
		</nav>

<form name="myForm">
		<div class="form-group">
    		<input class="form-control" ng-model='vm.date' placeholder="busque pela data" datepicker>
        </div>

        <div class="conteiner_iframe">
    		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.buscar(vm.date)">Buscar</button>
    	</div>
    	</form>

    	<div class="bordaBranca">
    		<center>
    			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.mostrarLoading">
    			</span>
    		</center>

    		<div ng-repeat="tipo in vm.estatisticas" ng-class-odd="'oddResultado'" ng-class-even="'evenResultado'">
    			<div ng-include="vm.sub_estatisticas"></div>
    		</div>

		</div>
</div>