<widget-header titulo = 'ORDEM DE SERVIÇO'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		  			<li role="presentation"><a href="/#/vistoria">Vistoria</a></li>
		  			<li role="presentation"><a href="/#/resultado">Resultados</a></li>
                    <li role="presentation"><a href="/#/estatistica">Estatisticas</a></li>
                    <li role="presentation"><a href="/#/busca">Fiscalizado</a></li>
                    <li ng-click="vm.logoff()"><a href="/#/" class="logoff">logoff</a></li>
                    <li role="presentation"><a href="" class="usuario">{{vm.user}}</a></li>
                    <li role="presentation" class="active"><a href="" class="usuario">{{vm.ordem}}</a></li>
                    <li role="presentation"><a href="" class="usuario">{{vm.local}}</a></li>
		  		</ul>
  			</div>
		</nav>

<form name="myForm">

    	<div class="bordaBranca">
    		<center>
    			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.mostrarLoading">
    			</span>
    		</center>

    		<div ng-repeat="ordem in vm.ordens">
    			<div ng-include="vm.sub_ordem"></div>
    		</div>

		</div>
</div>