<ul class="list-group ordem">
	<li class="list-group-item">
	<span class="badge" ng-bind="ordem.apresentacao"></span>
	APRESENTAÇÃO
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="ordem.termino"></span>
	TÉRMINO
	</li>

	<li class="list-group-item">
	{{ordem.acao01}}
	</li>

	<li class="list-group-item">
	{{ordem.acao02}}
	</li>

	<li class="list-group-item">
	{{ordem.acao03}}
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="ordem.equipe"></span>
	EQUIPE(S)
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="ordem.viatura"></span>
	VIATURA(S)
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="ordem.agentes"></span>
	AGENTE(S)
	</li>

</ul>