<div class="input-group justificado" ng-class-odd="'odd'" ng-class-even="'even'">
    <span class="input-group-addon">
    <input type="checkbox" ng-model="inciso.escolhido">
    </span>
        <div class="multas">
        	<span ng-bind="'Inciso: ' + inciso.artigo + ' Artigo: ' + inciso.inciso">teste</span></br>
        	<span ng-bind="'Texto: ' + inciso.texto">teste</span></br>
        	<span ng-bind="'Valor: ' + inciso.valor">teste</span></br>
        	<span ng-bind="'Pontos: ' + inciso.pontos">teste</span> 
        </div>
</div>